.categories {
    display: inline-flex;
}

.nav {
  display: inline-flex;
  flex-wrap: wrap;
  flex: 1;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0 auto;
  padding: 0;
}

.navItem {
    margin: 0 0.5rem;
}
