.category-bar {
    @apply flex mb-6;

    & &__link {
        @apply text-red font-medium mr-3;
        background: none;
        text-decoration: none;
        transition: none;
        
        &:hover {
            &, & * {
                @apply text-white font-medium;
            }
        }
    }
}
