.social-bar {
  &__link {

  }

  &__icon {
      width: 20px;
      height: 20px;
      border: none;
      outline: none;
      transition: transform 0.3s ease-in-out;
      transform: scale(1.0);
      filter: grayscale(1) brightness(100);

      &:hover {
        filter: none;
        cursor: pointer;
        transform: scale(1.2);
      }
  }
}