#page {
	position: relative;
	margin: 0 auto;
}

.horizontalContainer {
  display: flex;
  justify-content: center;
}

.verticalContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social-svg:hover .social-svg-mask {
  fill: #ff0000 !important;
}

.social-icon:hover {
	transform: scale(1.1);
}

.clearUnderline a:before {
	content: none !important;
	background-color: none;
    transform: none;
    transition: none;
    transition-delay: none;
}

.clearUnderline a:hover:before {
	content: none;
	transform: none;
	transition-delay: none;
}
