@import '../../media-queries.css';

.page {
  max-width: 48rem;
  width: 48rem;
  position: relative;
  /* To fix a jumpy NavigationMenu on page transition with/without scroll bars http://stackoverflow.com/questions/6357870/scrollbar-on-browser-and-div-margin-0-auto-jumping */
  margin-left: calc(50vw - 24rem);
}

.main {
  /* real margin-left of 1.8 rem = nav-bar width + (var(--phenomic-HeadingAnchor-width) + var(--phenomic-HeadingAnchor-margin)) */
  /* width = page - nav-bar - margin-left */
  max-width: calc(36rem - 1.8rem);
  width: 100%;
  margin-left: calc(12rem + 1.8rem);
}

.heading {
  color: var(--primaryColor);
}

@media (--single-column) {
  .page {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
  }

 .main {
    margin-left: 0;
    width: 100%;
    max-width: 100%;
    padding: 0 1.5rem;
  }
}
