.makerlog, .lastfm, .timelog {
    & &__header {
        @apply flex items-center;
        background-color: #00000055;
    }

    & &__list {
        @apply list-none p-0;
        max-height: 10rem;
    }

    & &__item {
        @apply flex items-center px-6 py-2;
        background-color: theme('colors.green.500')16;
        &:nth-child(2n+1) {
            background-color: theme('colors.red.500')16;
        }
    }
}

.timelog {
    & &__content {
        @apply flex justify-center pt-4;
        background-color: theme('colors.red.500')16;
    }
}