/* Using global sytles is not recommended, prefer local styles via CSS Modules */

@import './media-queries.css';

/*
 * box model like it should be
 *
 * http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 */
html { box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit;
}

/*
 * kill document defaults margin & padding. We all do that all the time, right ?
 */
html,
body {
  margin: 0;
  padding: 0;
}

/*
 * page styles
 */
html {
  font-size: 17px;
  min-height: 100%;
  background: color(#fff a(0.4));
}

body {
  font-size: 1rem;
  line-height: 1.58rem;

  /* system font https://medium.com/designing-medium/system-shock-6b1dc6d6596f */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

/*
 * .phenomic-HeadingAnchor
 *
 * anchors for markdown headings, generated via markdown renderer, so require
 * global styling
 */
@custom-selector :--headings h1, h2, h3, h4, h5, h6;

:--headings {
  position: relative;
}

:root {
  --phenomic-HeadingAnchor-width: 1.4rem;
  --phenomic-HeadingAnchor-margin: 0.4rem;
  --phenomic-HeadingAnchor-small-width: 0.8rem;
  --phenomic-HeadingAnchor-small-margin: 0.2rem;
}

.phenomic-HeadingAnchor {
  display: inline-block;
  text-align: center;
  margin-left: calc(-1 * (var(--phenomic-HeadingAnchor-width) + var(--phenomic-HeadingAnchor-margin)));
  margin-right: var(--phenomic-HeadingAnchor-margin);
  width: var(--phenomic-HeadingAnchor-width);
  line-height: var(--phenomic-HeadingAnchor-width);
  text-decoration: none;
  opacity: 0.1;
  transition: opacity 0.2s;

  @nest :--headings:hover & {
    opacity: 1;
  }
}

/* minimal styling, prefer removing this and use local styles */
a,
a:link,
a:visited {
    position: relative;
    display: inline-block;
    color: var(--linkColor);
    text-decoration: none;
}

a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--linkColor);
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition-delay: 0.1s;
}

a:hover::before {
    visibility: visible;
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transition-delay: 0s;
}

a:focus {
    outline: none;
}

a.social-icon,
a.social-icon:link,
a.social-icon:visited {
    position: static;
    display: inline;
    color: var(--linkColor);
    text-decoration: none;
}

/* handy for content */
img {
  max-width: 100%;
}

/* Fig captions for markdown parsed images */
img + em {
  display: block;
  font-style: normal;
  margin-top: 0;
  margin-bottom: 1.5rem;
}

.horizontalContainer {
  display: flex;
  justify-content: center;
}

.verticalContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social-svg-mask {
  fill: var(--linkColor) !important;
}

.social-svg:hover .social-svg-mask {
  fill: var(--linkColor) !important;
}

.social-icon:hover {
	transform: scale(1.1);
}

.clearUnderline a::before {
	content: none !important;
	background-color: transparent;
  transform: none;
  transition: none;
  transition-delay: 0s;
}

.clearUnderline a:hover::before {
	content: none;
	transform: none;
	transition-delay: 0s;
}

@media (--single-column) {
html {
  font-size: 16px;
}

a.phenomic-HeadingAnchor {
  margin-left: calc(-1 * (var(--phenomic-HeadingAnchor-small-width) + var(--phenomic-HeadingAnchor-small-margin)));
  margin-right: var(--phenomic-HeadingAnchor-small-margin);
  width: var(--phenomic-HeadingAnchor-small-width);
}
}

